:host {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cat-fact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  color: white;
  background-color: #28a745;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.intersection-marker {
  height: 1px;
  visibility: hidden;
}
